.img-carousel {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
  height: 80vh;
}

.back-button,
.back-button:hover {
  margin-top: 4rem;
  border-radius: 0 50px 50px 0;
  padding: 1.5rem 1.5rem 1.5rem 5rem;
  background-color: rgb(151, 191, 15);
  border: none;
}

body {
  overflow-x: hidden;
}

.reservation-btn,
.reservation-btn:hover {
  background-color: rgb(151, 191, 15);
  border-radius: 50px;
  margin-top: 4rem;
  padding: 1rem;
  border: none;
}
