.bg-image-sign-up {
  background-image: url("https://images.unsplash.com/photo-1558008258-3256797b43f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  box-shadow: inset 0 0 0 1000px rgba(59, 75, 5, 0.3);
}

.light-font,
.light-font:hover {
  color: white;
  text-shadow: 0 0 10px black;
}

.button-submit,
.button-submit:hover {
  border: 2px solid rgb(151, 191, 15);
  background-color: rgb(151, 191, 15, 0.5);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0 0 10px black;
}

.input-submit {
  border: 2px solid rgb(151, 191, 15);
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0 0 10px black;
}
